/* COLOR

*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


body{
    font-family: 'Didact Gothic', sans-serif;
    line-height: 2em;
    scroll-behavior: smooth;

    /* background-color: var(--color-primary);
    background-attachment: fixed; */
}

:root{
    --color-primary:;
    --color-secondary:;
    --color-accent:;
}
/*~~~~~~~~~~~~~~*/
/* SCROLLBAR  */
/*~~~~~~~~~~~~~~*/
/*total width of scroll bar*/
::-webkit-scrollbar{ width: 8px;}

/* color of track */
::-webkit-scrollbar-track{ background-color: var(--color-primary); }
  
/* scrollbar */
::-webkit-scrollbar-thumb{ background-color: var(--color-secondary); }

/* scrollbar hover*/
::-webkit-scrollbar-thumb:hover{ background-color: var(--color-accent); }